<section class="section container-fluid" id="home-container">

  <button type="button" class="btn-lg btn-danger center-block" id="find-er-now-button">Find an E.R. now</button>

  <div class="text-center" id="home-or">Or:</div>
  <div id="home-search-container" class="center-block">
    <input type="text" class="form-control center-block" id="search-er-input" placeholder="Enter your address/zipcode">
    <img src="images/location.png" class="center-block" id="my-position" width="30px" height="30px"></div>
  </div>
  <button type="button" class="btn-lg btn-primary center-block" id="search-er-button">Search for an E.R.</button>

</section>
