<section class="section container-fluid" id="home-container">

  <script src="js/home.js"></script>
  <button type="button" class="btn-lg btn-danger center-block" id="find-er-now-button">Find an ER now</button>

  <div class="text-center" id="home-or">Or:</div>
  <input type="text" class="form-control center-block" id="search-er-input" placeholder="Enter your address/zipcode">
  <button href="#/search" type="button" class="btn-lg btn-primary center-block" id="search-er-button">Search for an ER</button>

</section>
