<section class="section container-fluid">
  <h1 class="page-header">Welcome to MedMe Search</h1>
  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group text-center">

        <div class="list-group-item list-group-item-home">
          <h1>Search for an ER
          </h1>
        </div>

        <div class="list-group-item list-group-item-home" id="list-group-item-map">
          <div id="map">
          </div>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgArLoujnZgojopE3Em7a7iqbyWlMf558&callback=initMap">
          </script>
        </div>

        <div class="list-group-item list-group-item-home">
          <div>
            <i class="text-primary">15 minutes</i>
          </div>
          <div>
            <h3 class="home-heading">Andrew's Clinic</h3>
            <p>123-456-7890</p>
            <p>Sunnyvale, CA 94086</p>
          </div>
        </div>

        <div class="list-group-item list-group-item-home">
          <div>
            <i class="text-primary">1 hour</i>
          </div>
          <div>
            <h3 class="home-heading">Ronnie's Clinic</h3>
            <p>098-765-4321</p>
            <p>San Francisco, CA 94086</p>
          </div>
        </div>

        <div class="list-group-item list-group-item-home">
          <div>
            <i class="text-primary">1 hour 25 minutes</i>
          </div>
          <div>
            <h3 class="home-heading">Angelina's Clinic</h3>
            <p>135-246-7890</p>
            <p>Santa Clara, CA 94086</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
