<section class="section container-fluid">
  <h1 class="page-header">Welcome to MedMe Search</h1>
  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group text-center" id="search-list-container">

        <div class="list-group-item list-group-item-home">
          <input type="text" class="form-control center-block" id="search-input" placeholder="Enter your address/zipcode">
        </div>

        <div class="list-group-item list-group-item-home" id="list-group-item-map">
          <div id="map">
          </div>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgArLoujnZgojopE3Em7a7iqbyWlMf558&callback=initMap">
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
